{% extends 'base.html' %}
{% load core_tags %}

{% block content %}
    <div class="mb-3">
        {% if add_url %}
            <a href="{% url add_url %}" class="btn btn-primary">Add</a>
        {% endif %}
        <button class="btn" onclick="
        XLSX.writeFile(XLSX.utils.table_to_book($('#data-table')[0]), 'export.xlsx')
        ">Export</button>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered" id="data-table">
            <thead>
                <tr>
                {% if actions or change_url or delete_url or obj.get_absolute_url %}
                    <th>Actions</th>
                {% endif %}
                {% for field in table_fields %}
                    <th>{{ field|title }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr>
                {% if actions or change_url or delete_url or obj.get_absolute_url %}
                    <td>
                    {% if change_url %}
                        <a href="{% url change_url obj.pk %}" class="btn btn-info">✏️</a>
                    {% endif %}
                    {% if delete_url %}
                        <a href="{% url delete_url obj.pk %}" class="btn btn-danger">🗑️</a>
                    {% endif %}
                    {% if obj.get_absolute_url %}
                        <a href="{% url obj.get_absolute_url obj.pk %}" class="btn btn-secondary">ℹ️</a>
                    {% endif %}
                    {% for action, url in actions.items %}
                        <a href="{% url url obj.pk %}" class="btn btn-secondary">{{ action }}</a>
                    {% endfor %}
                    </td>
                {% endif %}
                {% for field in table_fields %}
                    <td>
                    {% with field_value=obj|get_attr_from_object:field %}
                        {% if field_value.get_absolute_url %}
                            <a href="{{ field_value.get_absolute_url }}">{{ field_value }}</a>
                        {% else %}
                            {{ field_value|default:"" }}
                        {% endif %}
                    {% endwith %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- Code for filtering with data table -->
    <script>
        $(document).ready(function() {
            $('#data-table').DataTable({
                fixedHeader: true, // Optional: keeps header visible on scroll
                initComplete: function() {
                    this.api()
                        .columns()
                        .every(function() {
                            var column = this;
                            var header = $(column.header()); // Get the header element
                            // Create input element
                            var title = $('<p hidden>' + header.text().trim() + '</p>')
                                .appendTo(header.empty());
                            var input = $('<input placeholder="' + header.text().trim() + '" />')
                                .appendTo(header) // Empty existing header text and append input
                                .on('keyup change clear', function() {
                                    if (column.search() !== this.value) {
                                        column.search(this.value).draw();
                                    }
                                });
                        });
                }
            });
        });
    </script>
{% endblock %}