{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

{% load widget_tweaks %}

<form method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {% if field.field.widget.input_type == 'checkbox' %}
                {{ field }}
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}

            {% if field.errors %}

                {% for error in field.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}